body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFECD1;
    font-family: 'Raleway', sans-serif;
}


h2,
h1,
h3 {
    font-family: 'Intel One Mono', monospace;
}

h1 {
    font-size: 2.5em;
    padding: 20px;
    margin: 0;
}

div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

ul {
    list-style-position: inside;
    padding: 0;
    text-align: center;
}



header,footer,main{
    background-color: #2C6E49;
}


section {
    background-color: #ffc9b999;
    border-radius: 10px;
    color: #0c0f11;
    margin: 20px auto;
    padding: 20px;
}

p,
h3 {
    padding: 10px;
}


.colors,
.typography {
    padding: 20px;
}

.colors {
    width: 50%;
    min-width: 300px;
    margin: 10px auto;
    text-align: center;

}

.colors th {
    background-color: #8C0303;
    padding: 5px;

}

.colors td {
    width: 25%;
    height: 3em;
    border: 1px solid #030507;
}

.color1 {
    background-color: #53aa7999;
    color: #001524;

}

.color2 {
    background-color: #ffc9b999;
    color: #0e0e0e;
}

.color3 {
    background-color: #FFC9B9;
    color: #0b0b0a;
}

img {
    display: block;
    width: 80%;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
}

.why-donate-title {
    font-family: "Concert One", Arial, Helvetica, sans-serif;
    background: #ffc9b9b3;
}

.donate {
    background: linear-gradient(to right, #FFC9B9 50%, #8C0303 50%) left;
}

.categories {
    background-color: #ffc9b999;
}

.categories section {
    background-color: #53aa7999;
}